h1{
    font-family: tahoma;
	color: blue; 
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 10px;
}

p{
	text-indent: 25px;
}
span{
	font-variant: small-caps;
	color: blue;
	font-weight: bold;
}
#external{
	text-shadow: 1px 1px darkgreen;
}
img{
	border-style: solid;
	border-color: darkred;
	float: right;
}


