body {
		text-align: center;
		background-color: #F8FFB9;
	  } 
.table {
		margin-left: auto;
	    margin-right: auto;
	    }
h1 {
	font-family: trebuchet MS;
	color: brown;
}
h3 {
    font-family: tahoma;
    color: #A0C84B;
}
th {
	font-size: 30px;
	font-family: ariel;
	font-weight: lighter;
}
img {
	border-radius: 25px;
	padding: 15px;
}
table {
	border-color: brown;
	border-style: unset;
	bord
}